$color-primary: #42b883;
$color-primary-light: #42d392;
$color-primary-lighter: #35eb9a;
$color-primary-dark: #33a06f;
$color-primary-darker: #155f3e;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;

$gradient-primary: linear-gradient(135deg, $color-primary, $color-primary-light);

